{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Photogur</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Photogur</h1>
      <form action="{% url 'picture_search' %}" method="get">
        <label for="picture-search">
          <span>Search:</span>
          <input type="search" id="picture-search" name="query" value="{{query}}" />
        </label>
    
        <input type="submit" value="Search" />
      </form>
    </header>
    {% if request.user.is_authenticated %}
    <!-- display link to log out -->
    <a href="{% url 'logout' %}">logout</a>
  {% else %}
    <!-- display link to login page -->
    <a href="{% url 'login' %}">login</a>
  {% endif %}

    {% block content %} 
    {% endblock %}

    <footer>Copyright 2019 Alexander The Great</footer>
  </body>
</html>
