{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
        
        <ul>
            {% for picture in pictures %}
            <a href="{% url 'picture_details' id=picture.pk %}">
            <li>
                <img src= "{{ picture.url }}">
                <p>{{ picture.title }} by
                {{ picture.artist }}
                
                </p>
               <!-- <p> Comments: {{ picture.comments.count }} </p> -->
                
            </li>  
        </a>          
            {% endfor %}
        </ul>
    {% endblock %}
     
</body>
</html>


<!-- <h1>Contacts</h1>
<ul>
    {% for contact in contacts %}
        <li>
            <p> {{ contact.full_name }} </p>
            <p> {{ contact.email_address }} </p>
            <p> {{ contact.notes }} </p>

        </li>
    {% endfor %}
</ul> -->